html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

/*-----------------------*/


body {
    margin: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 1200px;
    margin: auto;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.5;
    color: black;
    background: #e5e5e5;
}

h2 {
    margin: 0px;
    font-weight: 700;
}

nav{
    display: flex;
}

.navigace{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
    font-weight: 400;
    justify-content: center;   
    margin: 0px; 
}

.navig{
    display: flex;  
    width: 100%;   
}

li {
    list-style: none;
    color: #48418e;
    padding: 10px;
    width: 50%;
    text-align: center;
}

ul{
    padding-inline-start:0;
}

li:hover {
    background-color: #48418e;
    color: white;
}

.prvni {
    text-transform: uppercase;
    font-weight: 700;
}

.kontejner {
    display: flex;
    flex-wrap: wrap;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);  
}

.hlavni-banner{
    background: linear-gradient(90deg, rgba(37,19,61,1) 25%, rgba(170,84,119,1) 100%);
    color: white;
    padding: 0 30px 0 30px;
    min-width: 100%;
}

.nadpis{
    font-weight: 400;
    font-size: 2rem;
    margin: 15px 0 15px 0;
}

.slogan {
    font-weight: 300;
    font-size: 1.5rem;
    color: #e5e5e5;
}

.tlacitko{
    display: block;
    padding: 15px;
    margin: 20px 0 20px 0;
    border-radius: 5px;
    border: solid white 1px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    color:  #e5e5e5;
}

a:hover {
    color: white;
    background-color: #48418e;
}

.sloupec{
    display: flex;
    flex-wrap: wrap;
    padding:10px;
    align-items: center;
    justify-content: center;
}

.nazev-sluzby{
    color: #48418e;
    text-align: center;
    font-size: 1.3rem;
}

.popis-sluzby{
    text-align: center;
    font-weight: 400;
    font-size: 0.8rem;
}

.ico {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    padding: 10px;
}

footer {
    text-align: center;
    background-color: #48418e;
    color: #e5e5e5;
    padding: 10px;
    font-size: 1rem;
}

.ruka{
    display: none;
}

@media (min-width: 600px) {

.tlacitko{
    display: inline-block;
    padding: 15px;
    margin: 20px 20px 20px 0;
}

.navigace{
    flex-wrap: nowrap; 
    justify-content: flex-start; 
}

.navig{
    min-width: 70%;
}

.sloupec{
    flex-wrap: nowrap;
}

.sluzba {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 0 10px;
    flex-direction: column;    
}

.ico {
    order: -1;
}

.nazev-sluzby{
    min-width: 100%;
}
}

@media (min-width: 870px){

.navigace{
    font-size: 1rem;
}

.hlavni-banner{
    display: flex;
    flex-direction: row;
    padding: 0 0 0 30px;
    max-height: fit-content;
}

.banner-text {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-grow: 1;
}

.ruka{
    display: flex;
    padding: 10px 0px 0px 0px;
    align-items: flex-end;
}

.ruka img {
    max-height: 400px;
    flex: 1 0 180px;
    padding: 0 0 0 0px;    
}

.nadpis{
    font-weight: 400;
    font-size: 5rem;
    margin: 15px 0 15px 0;
}

.slogan {
    font-weight: 300;
    font-size: 3rem;
    color: #e5e5e5;
    max-width: 70%;   
}

.tlacitko{
    margin: 30px 30px 30px 0;
    border-radius: 5px;
    font-size: 1.3rem;
}

}


/*
BARVY
šedá: #e5e5e5 (pozadí)
světle fialová: #48418e (navigace, primární tlačítko, nadpisy služeb, patička)
tmavě fialová: #25133d (výchozí barva gradientu, hover primárního tlačítka)
nachová: #aa5477 (koncová barva gradientu)

Generátor gradientů: https://cssgradient.io/
to right, #25133d 25%, #aa5477 100%

PÍSMO
Source Sans Pro
https://fonts.google.com/specimen/Source+Sans+Pro?query=source+Sans
- light 300 (slogan)
- bold 700 (logo, nadpisy)
- regular 400 (vše ostatní)
výška řádku 1.5
box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

BONUSOVÁ VÝZVA
Změň barvu ikon na tmavě fialovou.
*/